<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="css/stylesworks.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="section1">
        {{#each works}}
          {{>section1 this}}
        {{/each}}
        {{!-- <article>
          <img src="img/The_Strokes_-_Is_This_It_cover.png" alt="Is-this-it" />
          <h3>Is this it?</h3>
          <p>2001</p>
        </article>
        <article>
          <img src="img/Room_on_Fire_cover.jpeg" alt="Room-on-fire" />
          <h3>Room on Fire</h3>
          <p>2003</p>
        </article>
        <article>
          <img class="imgFIOE"src="img/FIOEstrokes.jpeg" alt="FIOE" />
          <h3>First Impressions of Earth</h3>
          <p>2005</p>
        </article> --}}
      </div>
      <div class="section2">
        <article>
          <img src="img/Strokes_1.jpeg" alt="Angles" />
          <h3>Angles</h3>
          <p>2011</p>
        </article>
        <article>
          <img
            src="img/The_Strokes_-_Comedown_Machine.jpeg"
            alt="Comedown-machine"
          />
          <h3>Comedown Machine</h3>
          <p>2013</p>
        </article>
        <article>
          <img
            src="img/The_Strokes_-_The_New_Abnormal.png"
            alt="The-New-Abnormal"
          />
          <h3>The New Abnormal</h3>
          <p>2020</p>
        </article>
      </div>
    </main>
  </body>
</html>
